# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

trigger:
- master



pool:
  vmImage: 'Ubuntu-16.04'

jobs:
- job: Only job
  timeoutInMinutes: 360
  steps:
  - script: |
    sudo apt-get -y update
    sudo apt-get -y install sudo build-essential wget flex ghostscript bzip2 git subversion automake libtool bison python libncurses5-dev vim-common libsqlite3-0 libsqlite3-dev zlib1g-dev
    ./scripts/build.bash
  displayName: Build