# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

jobs:
- job: Build_Prereqs
  variables:
    CCACHE_DIR: $(Pipeline.Workspace)/cache
  timeoutInMinutes: 660
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - script: sudo apt-get -y update
  - bash: |
      sudo apt-get install ccache -y
      echo "##vso[task.prependpath]/usr/lib/ccache"
    displayName: Install ccache and update PATH to use linked versions of gcc, cc, etc
  - script: sudo apt-get -y install sudo build-essential wget flex ghostscript bzip2 git subversion automake libtool bison python libncurses-dev vim-common sqlite3 libsqlite3-0 libsqlite3-dev zlib1g-dev cmake libyaml-cpp-dev libboost-all-dev libboost-dev libxml2-dev ninja-build
    displayName: Install prereqs

  - task: Cache@2
    inputs:
      key: 'ccache | "$(Agent.OS)" | "$(System.JobName)"'
      path: $(CCACHE_DIR)
    displayName: ccache
  - script: NCPU=2 COMPILE_BOOST=yes ./scripts/build_prereqs.bash -reclaim
    displayName: Build prereqs
  - publish: /usr/local
    artifact: Prereqs
#  - script: NCPU=2 ./scripts/build.bash -reclaim
#    displayName: Build pharos

- job: Build_Pharos
  dependsOn: Build_Prereqs
  variables:
    CCACHE_DIR: $(Pipeline.Workspace)/cache
  timeoutInMinutes: 660
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - script: sudo apt-get -y update
  - bash: |
      sudo apt-get install ccache -y
      echo "##vso[task.prependpath]/usr/lib/ccache"
    displayName: Install ccache and update PATH to use linked versions of gcc, cc, etc
  - script: sudo apt-get -y install sudo build-essential wget flex ghostscript bzip2 git subversion automake libtool bison python libncurses-dev vim-common sqlite3 libsqlite3-0 libsqlite3-dev zlib1g-dev cmake libyaml-cpp-dev libboost-all-dev libboost-dev libxml2-dev ninja-build
    displayName: Install prereqs

  - task: Cache@2
    inputs:
      key: 'ccache | "$(Agent.OS)" | "$(System.JobName)"'
      path: $(CCACHE_DIR)
    displayName: ccache
  - task: DownloadPipelineArtifact@2
    inputs:
      source: current
      artifact: Prereqs
      path: /usr/local
  - script: NCPU=2 ./scripts/build.bash -reclaim
    displayName: Build pharos

- job: Build_OOAnalyzer_Ghidra_Plugin
  strategy:
    matrix:
      ghidra-git:
        ghidraVersion: "git master"
      ghidra912:
        ghidraUrl: "https://ghidra-sre.org/ghidra_9.1.2_PUBLIC_20200212.zip"
        ghidraVersion: "9.1.2"
      ghidra911:
        ghidraUrl: "https://ghidra-sre.org/ghidra_9.1.1_PUBLIC_20191218.zip"
        ghidraVersion: "9.1.1"
      ghidra91:
        ghidraUrl: "https://ghidra-sre.org/ghidra_9.1_PUBLIC_20191023.zip"
        ghidraVersion: "9.1"
      ghidra904:
        ghidraUrl: "https://ghidra-sre.org/ghidra_9.0.4_PUBLIC_20190516.zip"
        ghidraVersion: "9.0.4"
      ghidra902:
        ghidraUrl: "https://ghidra-sre.org/ghidra_9.0.2_PUBLIC_20190403.zip"
        ghidraVersion: "9.0.2"
      ghidra901:
        ghidraUrl: "https://ghidra-sre.org/ghidra_9.0.1_PUBLIC_20190325.zip"
        ghidraVersion: "9.0.1"
      ghidra90:
        ghidraUrl: "https://ghidra-sre.org/ghidra_9.0_PUBLIC_20190228.zip"
        ghidraVersion: "9.0"
  pool:
    vmImage: 'Ubuntu-18.04'
  steps:
  - script: sudo update-alternatives --set javac /usr/lib/jvm/zulu-11-azure-amd64/bin/javac && sudo update-alternatives --set java /usr/lib/jvm/zulu-11-azure-amd64/bin/java && export JAVA_HOME=/usr/lib/jvm/zulu-11-azure-amd64
  - task: Cache@2
    inputs:
      key: '"$(ghidraUrl)" | binary'
      path: $(Pipeline.Workspace)/zip
  - bash: |
      test -d zip || (mkdir zip && cd zip && wget $URL)
      unzip zip/*.zip
    condition: ne(variables['ghidraUrl'], '')
    workingDirectory: $(Pipeline.Workspace)
    displayName: Download Ghidra binary from $(ghidraUrl)
    env:
      URL: $(ghidraUrl)
  - bash: |
      git clone --depth 1 https://github.com/NationalSecurityAgency/ghidra
      cd ghidra
      gradle --init-script gradle/support/fetchDependencies.gradle init
      gradle prepDev
      gradle buildNatives_linux64
    condition: eq(variables['ghidraUrl'], '')
    workingDirectory: $(Pipeline.Workspace)
    displayName: Download and build Ghidra from git
  - bash: |
      cd tools/ooanalyzer/ghidra/OOAnalyzerPlugin && GHIDRA_INSTALL_DIR=$(find $WS -maxdepth 1 -type d -name 'ghidra_*') gradle
    displayName: Build Ghidra plugin
    env:
      JAVA_HOME: /usr/lib/jvm/zulu-11-azure-amd64
      WS: $(Pipeline.Workspace)
  - publish: tools/ooanalyzer/ghidra/OOAnalyzerPlugin/dist/
  - task: GitHubRelease@0
    inputs:
      gitHubConnection: edmcman
      repositoryName: $(Build.Repository.Name)
      action: delete
      target: $(Build.SourceVersion)
      tagSource: manual
      tag: ghidra-$(ghidraVersion)
    continueOnError: true
  - task: GitHubRelease@0
    inputs:
      gitHubConnection: edmcman
      repositoryName: $(Build.Repository.Name)
      action: create
      target: $(Build.SourceVersion)
      tagSource: manual
      tag: ghidra-$(ghidraVersion)
      title: OOAnalyzer Ghidra Plugin for Ghidra $(ghidraVersion)
      assets: tools/ooanalyzer/ghidra/OOAnalyzerPlugin/dist/*.zip
      addChangeLog: false