# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

jobs:
# This isn't working anyway
# - job: Build
#   timeoutInMinutes: 660
#   pool:
#     vmImage: 'Ubuntu-16.04'
#   steps:
#   - script: sudo apt-get -y update
#   - script: sudo apt-get -y install sudo build-essential wget flex ghostscript bzip2 git subversion automake libtool bison python libncurses-dev vim-common sqlite3 libsqlite3-0 libsqlite3-dev zlib1g-dev cmake libyaml-cpp-dev libboost-all-dev libboost-dev libxml2-dev ninja-build
#   - script: NCPU=2 ./scripts/build_prereqs.bash -reclaim
#   - script: NCPU=2 ./scripts/build.bash -reclaim

- job: Build_OOAnalyzer_Ghidra_Plugin
  pool:
    vmImage: 'Ubuntu-18.04'
  steps:
  # - task: DownloadGitHubRelease@0
  #   inputs:
  #     connection: Github read only
  #     userRepository: NationalSecurityAgency/ghidra
  #     defaultVersionType: 'latest' # Options: latest, specificVersion, specificTag
  #     version: '*'
      #version: 'Ghidra_9.1.2_build' # Required when defaultVersionType != Latest
      #itemPattern: '**' # Optional
      #downloadPath: '$(System.ArtifactsDirectory)'
  - script: which javac; which java; dpkg -l java*; dpkg -l default*; ls -l /usr/bin/javac; dpkg -l *jdk*

  - script: sudo apt-get -y update && sudo apt-get -y purge java-common && sudo apt-get -y install openjdk-11-jdk-headless
  - script: wget https://ghidra-sre.org/ghidra_9.1.2_PUBLIC_20200212.zip
  - script: unzip ghidra_9.1.2_PUBLIC_20200212.zip
  - script: OLDPWD=$PWD; cd tools/ooanalyzer/ghidra/OOAnalyzerPlugin && GHIDRA_INSTALL_DIR=$OLDPWD/ghidra_9.1.2_PUBLIC ./gradlew
